<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans">

    <!-- DATA ACCESS : Implémentation JDBC + Lucene -->
    <bean id="dataAccess" class="persistence.jdbc.JdbcTravelDao"/>

    <!-- Scoring -->
    <bean id="priceCalculator" class="business.scoring.PriceCalculator"/>
    <bean id="comfortScorer" class="business.scoring.ComfortScorer"/>

    <!-- Planning -->
    <bean id="strategyFactory" class="business.planning.StrategyFactory"/>
    
    <bean id="offerGenerator" class="business.planning.OfferGenerator">
        <property name="factory" ref="strategyFactory"/>
        <property name="priceCalculator" ref="priceCalculator"/>
        <property name="comfortScorer" ref="comfortScorer"/>
    </bean>

    <!-- SERVICE PRINCIPAL -->
    <bean id="travelService" class="business.service.TravelService">
        <property name="generator" ref="offerGenerator"/>
        <property name="dataAccess" ref="dataAccess"/>
    </bean>

</beans>